
  .top{
      text-align: end;
      display: flex;
      justify-content: end;
  }
  button{
      background: #1877f2;
  
  }
  .box {
      height: 100%;
      width: 60%;
      border-radius: 50% 50% 0 0/100% 100% 0 0;
      background-color: #48abe0;
      position:absolute;
      top: 50%;
      left:20%;
      
      /* display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;  */
  
      
    }
  .Register{
      width: 400px;
      height: auto;
      background: #fff;
      border: 1px solid #dddfe2;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
      border-radius: 8px;
      padding: 1rem;
      align-items: center;
      
      position:absolute;
      top:60%;
      left:50%;
      transform: translate(-50%,-50%);
  }
  h3{
    text-align: center;

  }
  
  .Register > input {
      border-radius: 8px;
      border: 2px solid #dddfe2;
      outline: none;
      color: #1d2129;
      margin: 0.5rem 0;
      padding: 0.5rem 0.75rem;
      width: 92%;
      font-size: 1rem;
  }
  
  .Register > .button {
      background: #1877f2;
      border: 1px solid #1877f2;
      color: #fff;
      font-size: 1.25rem;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
  }